{% extends "base.html" %}

{% block title %}소개 - 개발 블로그{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-content center-align">
                <span class="card-title">
                    <span class="material-icons large blue-text">person</span>
                    <h3>블로그 소개</h3>
                </span>
                
                <div class="about-feature-row">
                    <div>
                        <h5><span class="material-icons left">code</span> 기술 스택</h5>
                        <ul class="icon-list">
                            <li><span class="material-icons">code</span><span>FastAPI</span></li>
                            <li><span class="material-icons">storage</span><span>SQLAlchemy</span></li>
                            <li><span class="material-icons">dns</span><span>MySQL</span></li>
                            <li><span class="material-icons">palette</span><span>Jinja2</span></li>
                            <li><span class="material-icons">view_in_ar</span><span>Docker</span></li>
                        </ul>
                    </div>
                    
                    <div>
                        <h5><span class="material-icons left">star</span> 주요 기능</h5>
                        <ul class="icon-list">
                            <li><span class="material-icons">list</span><span>포스트 목록 보기</span></li>
                            <li><span class="material-icons">add</span><span>새 포스트 작성</span></li>
                            <li><span class="material-icons">edit</span><span>포스트 수정</span></li>
                            <li><span class="material-icons">delete</span><span>포스트 삭제</span></li>
                            <li><span class="material-icons">visibility</span><span>포스트 상세 보기</span></li>
                        </ul>
                    </div>
                </div>
                
                <div class="divider"></div>
                
                <div class="section">
                    <h5><span class="material-icons left">info</span> 프로젝트 정보</h5>
                    <p class="flow-text grey-text text-darken-2">
                        이 블로그는 FastAPI, SQLAlchemy, Jinja2를 활용하여 개발된 개인 블로그입니다.
                        MySQL 데이터베이스를 사용하여 CRUD 기능을 구현했으며, Docker를 통해 컨테이너화되어 있습니다.
                    </p>
                    
                    <div class="section">
                        <a href="/" class="btn waves-effect waves-light blue">
                            <span class="material-icons left">home</span> 홈으로 돌아가기
                        </a>
                        <a href="/create" class="btn waves-effect waves-light green">
                            <span class="material-icons left">add</span> 첫 글 작성하기
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 